# Django
DJANGO_SECRET_KEY=django-insecure-your-secret-key
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database (PostgreSQL)
DB_NAME=myproject
DB_USER=postgres
DB_PASSWORD=1
DB_HOST=db
DB_PORT=5432

# Redis (для Celery)
REDIS_URL=redis://redis:6379/0

# JWT
ACCESS_TOKEN_LIFETIME_MINUTES=500
REFRESH_TOKEN_LIFETIME_DAYS=1
